{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/index.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/index.js' %}" rel="script"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script>
  		$( function() {
  			$( "#accordion" ).accordion();({
  				collapsible: false
  				});
			} );
	</script>
	<title></title>
</head>
<body onload="myFunction()">
	<div id="loader"></div>

	<div style="display:none;" id="myDiv" class="animate-bottom">
  		<div class="first" id='theme'>
			<nav class="navbar navbar-expand-lg navbar-fixed-top">
				<div class="container">
			  		<a class="navbar-brand" href="#"><img src={% static 'img/kulina-logo-white.svg' %}></a>
			  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			    		<span class="navbar-toggler-icon"></span>
			  		</button>
			  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    		<div class="navbar-nav ml-auto">
			      			<a class="nav-item nav-link active" href="#">About Us</a>
			      			<a class="nav-item nav-link" href="#">Careers</a>
			      			<a class="nav-item nav-link" href="#">Internship</a>
			    		</div>
			  		</div>
			  	</div>
			</nav>
			<div class="caption">
				<p>Join an Impactful Company</p>
				<button type="button" class="btn btn-danger orange" onclick="change.call(this)" id='button'>Change Theme</button>
			</div>
		</div>
		<div id="accordion">
	  		<h3>Section 1</h3>
	  		<div>
	    		<p>
	    			Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
				    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
				    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
				    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
				</p>
	  		</div>
	  		<h3>Section 2</h3>
	  		<div>
	    		<p>
				    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
				    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
				    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
				    suscipit faucibus urna.
	    		</p>
	  		</div>
	  		<h3>Section 3</h3>
	  		<div>
	    		<p>
				    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
				    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
				    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
				    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
	    		</p>
	    		<ul>
	      			<li>List item one</li>
	      			<li>List item two</li>
	      			<li>List item three</li>
	    		</ul>
	  		</div>
	  		<h3>Section 4</h3>
	  		<div>
	    		<p>
	    			Cras dictum. Pellentesque habitant morbi tristique senectus et netus
				    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
				    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
				    mauris vel est.
	    		</p>
	    		<p>
				    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
				    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
				    inceptos himenaeos.
	    		</p>
	  		</div>
		</div>
	</div>

	<script>
		var myVar;

		function myFunction() {
    		myVar = setTimeout(showPage, 3000);
		}

		function showPage() {
  			document.getElementById("loader").style.display = "none";
  			document.getElementById("myDiv").style.display = "block";
		}
	</script>
</body>
</html>