#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
body{
	height:100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.first{
	color:white;
	background-image: linear-gradient(to bottom right,rgba(255,0,0,0.5), rgba(255,165,0,0.5)),url("{% static 'img/background.jpg' %}");
    height: 100vh;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.firstbw{
	color:white;
	background-image: linear-gradient(to bottom right,rgba(0,0,0,0.5), rgba(255,255,255,0.5)),url("{% static 'img/background.jpg' %}");
    height: 100vh;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
	background: transparent;
	border-color: transparent;
}
.navbar-brand{
	position: absolute;
	left:0;
	top:0;
	padding-top: 25px;
	padding-left: 20px;
}
.navbar-nav{
	font-size: 15px;
	position: absolute;
	right:0;
	top:0;
	padding-top: 25px;
	padding-right: 30px;
}
.nav-item {
	color: rgba(255, 255, 255, 0.7);
}
.active{
	background: transparent;
	border-color: transparent;
	color:white;
	font-weight: bold;
}
.caption{
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}
.caption p{
	font-size: 40px;
	font-weight: 900;
	word-spacing: 5px;
}
.orange{
	background-color: #ff7b00;
	border-color: white;
}
.btnbw{

}
