.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
body{
	height:100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.first{
	color:white;
	background-image: linear-gradient(to bottom right,rgba(255,0,0,0.5), rgba(255,165,0,0.5)),url("https://preview.ibb.co/bFymLA/background.jpg" );
    height: 100vh;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.firstbw{
	color:white;
	background-image: linear-gradient(to bottom right,rgba(0,0,0,0.5), rgba(255,255,255,0.5)),url("https://preview.ibb.co/bFymLA/background.jpg" );
    height: 100vh;
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
	background: transparent;
	border-color: transparent;
}
.navbar-brand{
	position: absolute;
	left:0;
	top:0;
	padding-top: 25px;
	padding-left: 20px;
}
.navbar-nav{
	font-size: 15px;
	position: absolute;
	right:0;
	top:0;
	padding-top: 25px;
	padding-right: 30px;
}
.nav-item {
	color: rgba(255, 255, 255, 0.7);
}
.active{
	background: transparent;
	border-color: transparent;
	color:white;
	font-weight: bold;
}
.caption{
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}
.caption p{
	font-size: 40px;
	font-weight: 900;
	word-spacing: 5px;
}
.orange{
	background-color: #ff7b00;
	border-color: white;
}
.btnbw{

}
